extends base

block content
    main.main
        .container.mx-auto.py-6
            .error.h-full
                .error__title
                    h2.heading-secondary.heading-secondary--error Error occurs. Something went wrong!   
                .error__msg=msg